extension/.node-env/
extension/node_modules/
extension/package-lock.json
extension/dist/*.js
plox_extension.zip
extension/test-results/
extension/playwright-report/
server/__pycache__/
server/tests/__pycache__/
*.pyc
/data/
.pytest_cache/
